.field:not(:first-child) {
  margin-block-start: var(--space-xl);
}

.field:has(.input[type="hidden"]) {
  display: none;
}

.field--error {
  border-inline-start: var(--color-error) solid var(--border-width-thickest);
  padding-inline-start: var(--space-m);
}
